body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fdfefd; 
  }
  
  .container {
    text-align: center;
    background-color: #aeff2b;
    border-radius: 50%; 
    width: 440px;
    height: 430px; 
    padding: 40px; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .counter-display,
  .countdown-display {
    font-size: 26px;
    margin: 10px 0;
    color: #416a00; 
  }
  
  button {
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff; 
    color: #4d7d00; 
    margin: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  }
  
  button:hover {
    background-color: #7abc20; 
    color: white; 
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); 
  }
  
  input {
    padding: 12px 20px;
    font-size: 18px;
    border: 1px solid #ffffff; 
    border-radius: 8px;
    color: #333333; 
    margin: 10px;
    background-color: #ffffff; 
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
    text-align: center;
  }
  
  input:hover,
  input:focus {
    background-color: #fdfefd; 
    border-color: #7abc20; 
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1); 
  }
  